
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f3e9df;
        }

        /* Banner */
        .banner {
            width: 100%;
            height: 300px;
            background-image: url('https://andorinart.com/wp-content/uploads/2023/08/Bg-agenda-de-ciclos-colores-negro-gris-coral-min.jpg');
            background-size: cover;
            background-position: center;
            position: relative;
        }
        .banner h1 {
            position: absolute;
            bottom: 20px;
            left: 50px;
            font-size: 40px;
            color: white;
            font-weight: bold;
            letter-spacing: 2px;
        }

        /* Contenedor de artículos */
        .content {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 40px 20px;
        }

        .card {
            width: 45%;
            background-color: #f3e9df;
        }
        .card img {
            width: 100%;
            border-radius: 3px;
        }
        .card .date {
            margin-top: 10px;
            font-size: 13px;
            opacity: 0.6;
        }
        .card h3 {
            margin-top: 5px;
            border-bottom: 1px solid black;
            display: inline-block;
            padding-bottom: 4px;
            font-size: 18px;
        }
        .card a {
            display: inline-block;
            margin-top: 5px;
            text-decoration: none;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }

        /* Paginación */
        .pagination {
            text-align: center;
            margin: 30px 0;
        }
        .pagination button {
            border: 1px solid black;
            background: none;
            padding: 5px 10px;
            cursor: pointer;
        }

        .pagination span {
            margin: 0 15px;
            font-size: 16px;
        }
.pub{
    background: rgb(236, 99, 99);
    margin-top: 4px;
    padding: 5px;
    text-align: center;
}

header{
    background-color: blanchedalmond;
}


nav{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* LOGO - MENU - ICONOS */
}

.logo{
    height: 50px;
    width: 120px;
}

/* MENU */
ul.menu{
    display: flex;
    gap: 30px;
    list-style: none;
}

ul.menu li a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 15px;
}

/* ICONOS DERECHA */
.icons{
    display: flex;
    gap: 20px;
}

.icons i{
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

.icons i:hover{
    color: #ff4b4b;
}

.links{ display: flex; justify-content: space-around; padding: 40px ; color: white; display: inline-block; padding-left: 80px; } .foot{ color: #f4ece7; }
footer{ 
    background-color: black; color: white; 
} 
.cont_foot{
     display: inline-block; 
} .divider1 { 
    width: 100%; 
    height: 3px; 
    background: white; 
    margin-top: 20px;
     margin-bottom: 20px; 
    } 
